@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto+Condensed&display=swap');

:root{
    --bs-body-font-family:'DM Sans', sans-serif;
}


.container-fluid{
    background-image: url('/media/images/backimage.jpg');
    background-size: cover;
    height: 120vh;
}

#colform{
    background-color: white;
}

#op1{
    background-color: #137b13;
    color: white;
    font-weight: bolder;
    width: 5.5rem;
}

#op2{
    background-color: #05519d;
    color: white;
    font-weight: bolder;
    width: 5.5rem;
}

#op3{
    background-color: #e4040c;
    color: white;
    font-weight: bolder;
    width: 5.5rem;
   
}
